sonata_admin:
    title: 'Certificados'
    title_logo: bundles/images/logo-eie-2.png
    templates:
       
    dashboard: 
        groups:
            admin:
                label: 'Eventos'
                icon: '<i class="fa fa-calendar"></i>'
                items:  
                    - admin.evento
                    - admin.tipo_evento
            admin2:
                label: 'Certificados'
                icon: '<i class="fa fa-certificate"></i>'
                items:  
                    - admin.certificado
                    - admin.tipo_certificado
                    - admin.template
                    - route: admin_app_evento_imprimirMasivo
                      label: 'Impresión Masiva'
            admin3:
                label: 'Personas'
                icon: '<i class="fa fa-users"></i>'
                items:  
                    - admin.persona
            admin4:
                label: 'Requisitos'
                icon: '<i class="fa fa-tasks"></i>'
                items:  
                    - admin.requisito
            admin5:
                label: 'Validación'
                icon: '<i class="fa fa-check"></i>'
                items:  
                    - route: app_default_verificacion
                      label: 'Validación'
            admin6:
                label: 'Usuarios'
                icon: '<i class="fa fa-user"></i>'
                items:  
                    - sonata.user.admin.user
                    - sonata.user.admin.group
                    
        blocks:
            - { type: sonata.admin.block.admin_list, position: left }
        
sonata_block:
    blocks:
        sonata.admin.block.admin_list:
            contexts: [admin]
