<a href="{{ path('admin_app_inscripto_inscriptocertificado_list', {'id': object.id}) }}" class="btn btn-sm btn-warning view_link" title="Certificados">
        <i class="glyphicon glyphicon-certificate"></i>
Certificados
</a>

