<a href="{{ path('admin_app_inscripto_inscriptoeventorequisito_list', {'id': object.id}) }}" class="btn btn-sm btn-warning view_link" title="Requisitos">
        <i class="glyphicon glyphicon-tasks"></i>
Requisitos
</a>

