<a href="{{ path('admin_app_inscriptocertificado_enviarcertificadomail', {'id': object.id}) }}" class="btn btn-sm btn-primary view_link" title="Enviar por mail">
        <i class="fa fa-envelope "></i> 
        Enviar por mail
    </a>
