<a href="{{ path('admin_app_certificadoevento_certificadoeventorequisito_list', {'id': object.id}) }}" class="btn btn-sm btn-warning view_link" title="Requisitos">
        <i class="glyphicon glyphicon-certificate"></i>
Requisitos
</a>

