<a href="{{ path('admin_app_certificadoevento_certificadoeventofirma_list', {'id': object.id}) }}" class="btn btn-sm btn-warning view_link" title="Firmas">
        <i class="glyphicon glyphicon-edit"></i>
Firmas
</a>

