{% extends base_template %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }} 
{% endblock %}

{% block sonata_admin_content %}
    {% block notice %}
        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
    {% endblock notice %}


    <div class="sonata-ba-form">
        <div class="box box-success">
            <div class="box-header">
                <h4 class="box-title">

                </h4>
            </div>

            <div class="box-body">
                <div class="formulario"> 
                    {{ form(form) }}
                </div> 
                <br>
            </div>
        </div>
    </div>
{% endblock %}
