<a href="{{ path('admin_app_evento_certificadoevento_list', {'id': object.id}) }}" class="btn btn-sm btn-warning view_link" title="Certificados">
        <i class="fa fa-certificate"></i>
Certificados
</a>

