<a href="{{ path('admin_app_evento_inscripto_list', {'id': object.id}) }}" class="btn btn-sm btn-warning view_link" title="Inscriptos">
        <i class="glyphicon glyphicon-user"></i>
Inscriptos
</a>

